<p *ngIf="id">edit-article {{id}}</p>
<p *ngIf="!id">New article</p>
<button (click)="redirect()">Back</button>
<form (ngSubmit)="onSubmit()">
  <div>
    <div>
      Author: <input [(ngModel)]="article.author" name="author">
      Title: <input [(ngModel)]="article.title" name="title">
      Subject: <input [(ngModel)]="article.subject" name="subject">
      Tags: <input [(ngModel)]="article.tags" name="tags">
    </div>
    <div>
      <textarea [(ngModel)]="article.content" name="content"></textarea>
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </div>
</form>
